<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="HCAddress" value="127.0.0.1"/>
    <add key="HCPort" value="17000"/>
    <add key="ServerPort" value="18000"/>
    <add key="ServerAddress" value="127.0.0.1"/>
    <add key="CircuitPort" value="19000"/>
    <add key="CircuitAddress" value="127.0.0.1"/>
  </appSettings>
</configuration>